---
---

@import 'bootstrap/bootstrap';

.title {
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 0.8px;
}

a:hover {
  text-decoration: none;
}

hr {
    width: 128px;
}

@media (min-width: 768px) {
  .jumbotron .container {
    width: 500px;
  }
}

@media (min-width: 1200px){
  .navbar-expand-sm .navbar-nav .nav-link {
    padding-right: 1.2rem;
    padding-left: 1.2rem;
  }
}

.navbar-nav .nav-link {
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 0.8px;
}

.navbar-brand {
  letter-spacing: 0.8px;
}

.navbar-toggler {
  border: none;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.5);
  &:hover {
    background-color: transparent;
    color: rgba(0, 0, 0, 1);
  }
}

.active {
  font-weight: 600;
  background-color: transparent;
  color: rgba(0, 0, 0, 1);
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

@media (min-width: 575px) {
  .bg {
    background-image: url(/assets/img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 16%;
    padding-bottom: 16%;
  }
}

@media (max-width: 575px) {
  .mobilebg {
    background-image: url(/assets/img/mobilebg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 60%;
    padding-bottom: 60%;
  }
}

.btn-outline-dark {
  width: 120px;
  border-radius: 0;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  font-size: 0.875rem;
}

.post-title {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
  &:hover {
    text-decoration: none;
    background-color: transparent;
    color: rgba(0, 0, 0, 0.5);
  }
}

.post-date {
    text-transform: uppercase;
    font-size: 0.8rem;
}

.thumbnail-container {
  width: calc(1440px * 0.25);
  height: calc(900px * 0.25);
  display: inline-block;
  overflow: hidden;
  margin: 15px;

}

.thumbnail, .thumbnail iframe {
  width: 1440px;
  height: 900px;
}

.thumbnail {
  -ms-zoom: 0.25;
  -moz-transform: scale(0.25);
  -moz-transform-origin: 0 0;
  -o-transform: scale(0.25);
  -o-transform-origin: 0 0;
  -webkit-transform: scale(0.25);
  -webkit-transform-origin: 0 0;
  transform: scale(0.25);
  transform-origin: 0 0;
  pointer-events: none;
}

.thumbnail-border {
  border: 1px solid rgba(0, 0, 0, 0.3);  
}

.contact-link {
  color: rgba(0, 0, 0, 0.5);
  &:hover {
    background-color: transparent;
    color: rgba(0, 0, 0, 1);
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 100px;
}

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 80px;
  line-height: 80px;
}