<footer class="text-center">
  <div class="container">
      <a href="https://facebook.com/koen.devolder/" target="_blank" class="px-1">
        <img src="/assets/img/facebook.png" width="32" height="32" alt="">
      </a>
      ·
      <a href="https://linkedin.com/in/koendevolder" target="_blank" class="px-1">
        <img src="/assets/img/linkedin.png" width="32" height="32" alt="">
      </a>
      ·
      <a href="https://github.com/koendevolder" target="_blank" class="px-1">
        <img src="/assets/img/github.png" width="32" height="32" alt="">
      </a>
  </div>
</footer>