<div class="container text-center mt-2 d-none d-sm-block">
  <div class="title py-1">
    Koen Devolder
  </div>
  <hr class="my-2">
</div>

<nav class="navbar navbar-expand-sm navbar-light">
  <a href="/" class="navbar-brand">
    <span class="d-sm-none">Koen Devolder</span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mx-auto">
      <a href="/" class="nav-item nav-link {% if page.url == "/" %}active{% endif %}">Home</a>
      <a href="/blog.html" class="nav-item nav-link {% if page.url == "/blog.html" %}active{% endif %}">Blog</a>
      <a href="/portfolio.html" class="nav-item nav-link {% if page.url == "/portfolio.html" %}active{% endif %}">Portfolio</a>
      <a href="/reading-list.html" class="nav-item nav-link {% if page.url == "/reading-list.html" %}active{% endif %}">Reading List</a>
      <a href="/contact.html" class="nav-item nav-link {% if page.url == "/contact.html" %}active{% endif %}">Contact</a>
    </ul>
  </div>
</nav>